/* GENERAL */
html {
    background: url(background.jpg);
    background-size: 100%;
}
body {
    font-family: comic sans ms;
    color: white
}
/* HEADER*/
header {
color: white;
}
/* LIST*/
#sayings {
    text-align: center;
    font-size: 25px;
}
#sayingsdiv {
    margin: auto;
    width: 60%;
    min-width: 450px;
    background-color: rgba(0,0,0,0.7);
    border: solid;
    border-radius: 10px;
}
#header {

}
li {
    margin: 0 0 20px 0;
}
h1 {
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: -20px;
}
h2 {
    margin-left: 50px;
}